@my-scope:registry=https://wsdev.jfrog.io/artifactory/api/npm/npm-private-local/
registry=https://wsdev.jfrog.io/artifactory/api/npm/npm-private-local/
//wsdev.jfrog.io/artifactory/api/npm/npm-private-local/:email=sultan.abu-baker@whitesourcesoftware.com
//wsdev.jfrog.io/artifactory/api/npm/npm-private-local/:always-auth=true